In [2]:
print("hola")

hola

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('oscarAwards.csv', index_col=0)
df

,year_ceremony,ceremony,category,name,film,winner
year_film,,,,,,
1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...
2022,2023,95,Writing (Original Screenplay),Written by Martin McDonagh,The Banshees of Inisherin,False
2022,2023,95,Writing (Original Screenplay),Written by Daniel Kwan & Daniel Scheinert,Everything Everywhere All at Once,True
2022,2023,95,Writing (Original Screenplay),Written by Steven Spielberg & Tony Kushner,The Fabelmans,False
2022,2023,95,Writing (Original Screenplay),Written by Todd Field,Tár,False
2022,2023,95,Writing (Original Screenplay),Written by Ruben Östlund,Triangle of Sadness,False

In [16]:
df.head()

,year_ceremony,ceremony,category,name,film,winner
year_film,,,,,,
1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [9]:
df.tail(2)

,year_ceremony,ceremony,category,name,film,winner
year_film,,,,,,
2022,2023,95,Writing (Original Screenplay),Written by Todd Field,Tár,False
2022,2023,95,Writing (Original Screenplay),Written by Ruben Östlund,Triangle of Sadness,False

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10759 entries, 1927 to 2022
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_ceremony  10759 non-null  int64
 1   ceremony       10759 non-null  int64
 2   category       10759 non-null  object
 3   name           10756 non-null  object
 4   film           10449 non-null  object
 5   winner         10759 non-null  bool
dtypes: bool(1), int64(2), object(3)
memory usage: 514.8+ KB

In [11]:
df.shape

(10759, 6)

In [17]:
#Manejo de duplicados
df = df.drop_duplicates()

In [18]:
df.shape

(10752, 6)

In [19]:
#Manejo de valores vacios
df.isnull()

           year_ceremony  ceremony  category   name   film  winner
year_film
1927               False     False     False  False  False   False
1927               False     False     False  False  False   False
1927               False     False     False  False  False   False
1927               False     False     False  False  False   False
1927               False     False     False  False  False   False
...                  ...       ...       ...    ...    ...     ...
2022               False     False     False  False  False   False
2022               False     False     False  False  False   False
2022               False     False     False  False  False   False
2022               False     False     False  False  False   False
2022               False     False     False  False  False   False

[10752 rows x 6 columns]

In [27]:
#Smar los valores vacios en cada registro
df.isnull().sum()

year_ceremony      0
ceremony           0
category           0
name               2
film             309
winner             0
dtype: int64

In [28]:
df2 = df.dropna()

In [30]:
df2.isnull().sum()

year_ceremony    0
ceremony         0
category         0
name             0
film             0
winner           0
dtype: int64

In [32]:
df2.shape

(10443, 6)

In [33]:
# Guardar el dataframe depurado
df2.to_csv('oscarAwards2.csv', index=False)

In [ ]:
pip install psycopg2
pip install sqlalchemy

In [34]:
#Conexión con Postgree
import psycopg2
from psycopg2 import OperationalError

def check_postgres_connection():
    try:
        connection = psycopg2.connect(
            user="postgres",
            password="cris2405",
            host="localhost",
            port="5432",
            database="proyecto"
        )

        print("Conexión exitosa a PostgreSQL!")
        connection.close()
        
    except OperationalError as e:
        print(f"No se pudo conectar a PostgreSQL. Error: {e}")
check_postgres_connection()

Conexión exitosa a PostgreSQL!

In [38]:
#Envío del data frame limpio a postgree
from sqlalchemy import create_engine
dbname = 'proyecto'
user = 'postgres'
password = 'cris2405'
host = 'localhost'
port = '5432'

conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{dbname}')

table_name = 'oscarawards'

df2.to_sql(table_name, engine, if_exists='replace', index=False)

conn.close()

In [39]:
# Definir las credenciales de la base de datos
dbname = 'proyecto'
user = 'postgres'
password = 'cris2405'
host = 'localhost'
port = '5432'

# Establecer la conexión a la base de datos
conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

# Nombre de la tabla que deseas extraer
table_name = 'oscarawards'

# Consulta SQL para seleccionar todos los datos de la tabla
query = f"SELECT * FROM {table_name}"

# Ejecutar la consulta y almacenar los resultados en un DataFrame de pandas
df = pd.read_sql_query(query, conn)

# Cerrar la conexión a la base de datos
conn.close()

# Mostrar el DataFrame con los datos de la tabla
print(df)

       year_ceremony  ceremony                       category  \
0               1928         1                          ACTOR
1               1928         1                          ACTOR
2               1928         1                        ACTRESS
3               1928         1                        ACTRESS
4               1928         1                        ACTRESS
...              ...       ...                            ...
10438           2023        95  Writing (Original Screenplay)
10439           2023        95  Writing (Original Screenplay)
10440           2023        95  Writing (Original Screenplay)
10441           2023        95  Writing (Original Screenplay)
10442           2023        95  Writing (Original Screenplay)

                                             name  \
0                             Richard Barthelmess
1                                   Emil Jannings
2                                  Louise Dresser
3                                    Janet Gaynor
4                                  Gloria Swanson
...                                           ...
10438                  Written by Martin McDonagh
10439   Written by Daniel Kwan & Daniel Scheinert
10440  Written by Steven Spielberg & Tony Kushner
10441                       Written by Todd Field
10442                    Written by Ruben Östlund

                                    film  winner
0                              The Noose   False
1                       The Last Command    True
2                        A Ship Comes In   False
3                             7th Heaven    True
4                         Sadie Thompson   False
...                                  ...     ...
10438          The Banshees of Inisherin   False
10439  Everything Everywhere All at Once    True
10440                      The Fabelmans   False
10441                                Tár   False
10442                Triangle of Sadness   False

[10443 rows x 6 columns]

C:\Users\cusin\AppData\Local\Temp\ipykernel_75412\3533782554.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [1]:
pip install pymongo dnspython

Requirement already satisfied: pymongo in c:\users\cusin\appdata\local\programs\python\python312\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython in c:\users\cusin\appdata\local\programs\python\python312\lib\site-packages (2.4.2)
Note: you may need to restart the kernel to use updated packages.